/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  border: none;
  /* background: none; */
}
:root{
  --primary:#FF6B2C;

  --dark:#111111;
  --gray:#6B7280;

  --border:#E5E7EB;

  --background:#F8F8F8;

  --radius-sm:12px;
  --radius-md:20px;
  --radius-lg:32px;

  --container:1200px;
}

:root{
  --font-primary:"Roboto", sans-serif;
  --font-accent:"Playwrite AU VIC Guides", cursive;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  font-family:var(--font-primary);
}

.header {
  background-color: var(--dark);
  color: #fff;
  padding: 0.5rem 4rem ;
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 2px solid red; */
}

.header a{
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.logo{
  font-family:var(--font-accent);
}

.main {
  flex: 1;
  padding: 2rem;
}

.footer {
  background-color: var(--dark);
  color: #fff;
  padding: 1rem;
}